body{
    background-color: rgb(6, 112, 6);
    font: 1em sans-serif;
    padding: 2rem;
    align-items: center;
    text-align: center;
}

h1{
    color: white;
}
.Title{
    padding-top: 25%;
}
.options{
    padding-left: 25%;
    padding-right: 25%;
}
form{
    padding:1rem;
}

button.options{
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    font-size: 1rem;
    border-color: white;
    border: none;
    letter-spacing: .05rem;
}

input{
    border-radius: 15px;
    padding: 0.5rem;
    text-align:center;
}

input:required {
    border: 1px solid;
}

input:invalid {
    border: 2px solid red;
  }

@media (min-width: 45em){
    main{
        display: flex;
        flex-direction: row;
    }
}